<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Funcionários</title>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Horas Trabalhadas</th>
            <th>Turno de Trabalho</th>
            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= data.id %></td>
                <td><%= data.nomeFuncionario %></td>
                <td><%= data.horasTrabalhadas %></td>
                <td><%= data.turnoTrabalho %></td>
                <td><%= data.categoria %></td>
              </tr>
        </tbody>
      </table>      
</body>
</html>
